apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../base
images:
- name: docker.io/ofekmeister/csi-gcs
  newTag: v0.1.0
- name: quay.io/k8scsi/csi-node-driver-registrar
  newName: gcr.io/gke-release/csi-node-driver-registrar
  newTag: v1.2.0-gke.0
