name: Publish documentation

on:
  push:
    paths:
    - docs/**
    - .github/workflows/publish.yml
    - mkdocs.yml
    - tox.ini
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: "3.8"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install --upgrade -r requirements.txt

    - name: Build docs
      run: |
        invoke docs.build

    - name: Publish docs
      run: |
        invoke docs.publish
      env:
        GH_USER: "${{ secrets.GH_USER }}"
        GH_EMAIL: "${{ secrets.GH_EMAIL }}"
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
